.Container {
    height: 100%;
    width: 100%;
    padding: 4rem 0rem;
    overflow: hidden;
}


.GridContainer {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.GridContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 30rem;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}