.Navbar {
    position: fixed;
    width: fit-content;
    height: fit-content;
    bottom: 0;
    left: 0;
}

.Navbar ul {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.Navbar ul li {
    transition: transform 0.2s var(--bezier);
    font-size: 0.8rem;
    background-color: white;
    padding: 0.25rem;
}

.Navbar ul li:hover {}

.Navbar ul li a {
    border-bottom: 1px solid transparent;
}

.Navbar ul li:hover {
    background-color: lime;
}

.IsPlapamco:nth-of-type(3) {
    animation: float 4s ease-in-out infinite
}

@keyframes float {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

.floating-element {
    animation: float 6s ease-in-out infinite;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}