@font-face {
    font-family: "Helvetica Neue Regular";
    src: url("../../public/fonts/HelveticaNeueMedium.otf");
}

@font-face {
    font-family: "Helvetica Neue Thin";
    src: url("../../public/fonts/HelveticaNeueLight.otf");
}

@font-face {
    font-family: "Helvetica Neue Thin Italic";
    src: url("../../public/fonts/HelveticaNeueLightItalic.otf");
}

p,
a,
h2 {
    font-family: var(--main-font);
    font-variation-settings: "wght" 400;
}

:root {
    font-size: 16px;
    --title-font: "Helvetica Neue Regular";
    --main-font: "Helvetica Neue Thin";
    --hover-font: "Helvetica Neue Thin Italic";
    --bezier: cubic-bezier(0.39, 0.575, 0.565, 1)
}

body {
    padding: 0 2em;
    overflow: hidden;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 0 0 2rem;
    z-index: 100;

}

.title h1 {
    font-size: 1.25rem;
    font-family: var(--title-font);
    font-weight: 400;
    height: fit-content;
    width: fit-content;
}



.title:hover h1 {
    background-color: lime;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1)
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {
    :root {
        font-size: 14px;
        --title-font: "Helvetica Neue Regular";
        --main-font: "Helvetica Neue Thin";
        --hover-font: "Helvetica Neue Thin Italic";
        --bezier: cubic-bezier(0.39, 0.575, 0.565, 1)
    }

    body {
        top: 0;
        left: 0;
        padding: 0 1em;
        overflow: scroll;
    }

    .title {
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem 0 1rem 1rem;
        z-index: 100;
        background-color: white;
        width: 100vw;

    }

    .title h1 {
        font-size: 1.25rem;
        font-family: var(--title-font);
        font-weight: 400;
        height: fit-content;
        width: fit-content;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}