@font-face {
    font-family: "Helvetica Neue Regular";
    src: url("../../public/fonts/HelveticaNeueMedium.otf");
}

@font-face {
    font-family: "Helvetica Neue Thin";
    src: url("../../public/fonts/HelveticaNeueLight.otf");
}

* {
    font-family: var(--main-font);
    font-variation-settings: "wght" 400;
}

:root {
    font-size: 16px;
    --title-font: "Helvetica Neue Regular";
    --main-font: "Helvetica Neue Thin";
    --bezier: cubic-bezier(0.39, 0.575, 0.565, 1)
}

body {
    padding: 2em;
}

h1 {
    font-size: 1.25rem;
    font-family: var(--main-font);
    font-weight: 400;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1)
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}