.Main {
    height: 100vh;
    max-height: 100vh;
    display: flex;
}

.ContentContainer {
    height: 100%;
}

.ContentContainer:nth-of-type(1) {
    width: 40%;
}

.ContentContainer:nth-of-type(2) {
    width: 60%;
}




/* Image Side */

.MainImageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Images {
    height: 100%;
}


.MainImage {
    height: 100%;
    width: auto;
    scale: 0.4;
}





/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {
    /* test */

    .Main {
        height: 100svh;
        max-height: 100svh;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .ContentContainer {}

    .ContentContainer:nth-of-type(1) {
        width: 100%;
        height: 35vh;
    }

    .ContentContainer:nth-of-type(2) {
        width: 100%;
        overflow: scroll;
        height: 65vh;
        padding-bottom: 4rem;
    }

    .Images {
        height: 100%;
    }

    .MainImageContainer {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .MainImage {
        scale: 0.5;
    }



}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}