.Main {
    height: calc(100vh - 8rem);
    display: flex;
}

.ContentContainer:nth-of-type(1) {
    width: 40%;
    border-right: none;
}

.ContentContainer:nth-of-type(2) {
    width: 60%;
}



.ProjectList {
    display: flex;
    align-items: center;
}

.Projects {
    gap: 1rem;
    align-items: left;
    padding-left: 12rem;
    flex-direction: column;
    display: flex;
}

.Projects h2 {
    font-size: 1rem;
}

.Project {
    display: flex;
    gap: 1rem;
}

.Project:hover {
    cursor: pointer;
    transform: translateX(1rem)
}

.Project:hover h2 {
    font-family: var(--hover-font);
}

.Project p {
    font-size: 0.5rem;
}





/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}