.Container {
    position: absolute;
    /* border: 1px solid black; */
    height: 20rem;
    width: 20rem;
    mix-blend-mode: difference;
    z-index: -2;
    user-select: none;
    pointer-events: none;
    transform: translate(30px, -30px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}